<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
            text-align: center;
            margin-left: 40%;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('hello_world') }}">{% block navigator %}Go To Prediction Page{% endblock %}</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>